<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="About" ng-controller="aboutController">
    <ion-content>

        <div class="row responsive-sm responsive-md responsive-lg">
            <div class="list card">

                <div class="item" style="text-align: center;">
                    <!--<img src="avatar.jpg">-->
                    <h2>Download from Play Store</h2>
                    <a class="balanced" href="https://play.google.com/store/apps/details?id=com.baraccasoftware.findthehole" target="_blank" style="text-align: center;">
                        https://play.google.com/store/apps/details?id=com.baraccasoftware.findthehole
                    </a>
                </div>

                <div class="item" style="text-align: center;">
                    <!--<img src="avatar.jpg">-->
                    <h2>Developed by BaraccaSoftware</h2>
                    <a class="balanced" href="http://www.baraccasoftware.com" target="_blank" style="text-align: center;">
                        www.baraccasoftware.com
                    </a>
                </div>

                <div class="item item-image">
                    <img src="img/bs_logo.jpg">
                </div>

                <div class="item" style="text-align: center;">
                    <p style="white-space: normal!important"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Find The Hole</span> di <a xmlns:cc="http://creativecommons.org/ns#" href="www.baraccasoftware.com/findthehole" property="cc:attributionName" rel="cc:attributionURL">Baracca Software</a>
                        è distribuito con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribuzione - Condividi allo stesso modo 4.0 Internazionale</a>.</p>
                    <!--<button class="button button-clear button-balanced" ng-click="showLicensePopup()">
                        Under Apache 2.0 license
                    </button>-->
                </div>
                <div class="item" style="text-align: center;">
                    <h2>Special Thanks to:</h2>
                    <h3>Daniele Pasquini & Alessio Spaziani</h3>
                </div>

                <!--<a class="item assertive"  href ng-click="alert('pippo')" style="text-align: center;">
                    <i class="icon ion-alert"></i>


                </a>-->

            </div>
        </div>


    </ion-content>
</ion-view>