<ion-view animation="none" title="Segnala cambio orario"  ng-controller="changeHourController">

    <ion-content>

        <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Aula</span>
            <input type="text" ng-model="holeName" placeholder="Inserisci aula" capitalize="">
        </label>
            <div class="item item-button-right">
                Seleziona giorni Lezione
                <button class="button selectDayButton" ng-click="openModal()">
                    <i class="icon ion-arrow-down-b"></i>
                </button>
            </div>

            <div class="item item-button-right">
               Orario Inizio
                <ionic-time-picker class="myTimePicker" etime="slots[0].epochTime" format="24" step="1">
                    <button class="button selectDayButton">
                        <i class="icon ion-clock"></i>
                    </button>
                 </ionic-time-picker>

            </div>

            <div class="item item-button-right">
                Orario Fine
                <ionic-time-picker class="myTimePicker" etime="slots[1].epochTime" format="24" step="1">
                    <button class="button selectDayButton">
                        <i class="icon ion-clock"></i>
                    </button>
                </ionic-time-picker>

            </div>


        </div>

        <div class="row">

            <div class="col" style="margin-top: 20px"> <button class="button button-balanced button-full" ng-click="sendChange(holeName)">
                Invia
            </button></div>

        </div>

            <!--<div class="list card">

                <div class="item">
                    <h2>Aula Selezionata: </h2>
                    <p>{{holeName}}</p>
                </div>

                <div class="item item-body">
                    <h2>Giorni Lezione: </h2>
                    <label class="item" ng-repeat="day in dayOfWeek" ng-show="day.checked">
                        {{ day.text }}
                    </label>
                    <h2>Orario: </h2>

                    <label class="item">
                        {{(slots[0].epochTime * 1000) | date:'H:mm' | myDateTimePicker}}-{{(slots[1].epochTime * 1000) | date:'H:mm' | myDateTimePicker}}
                    </label>
                </div>-->

               <!-- <a class="item item-icon-left assertive" href="#">
                    <i class="icon ion-music-note"></i>
                    Start listening
                </a>-->







         <!--   <div class="list list-inset" style="margin-bottom: 5px;">
                <label class="item item-input">
                    <input type="text" placeholder="Inserisci aula" ng-model="holeName" capitalize>
                </label>
            </div>




        <div class="row">
            <div class="col col-50">
                <label>  <h5 style="color: white;">Inizio Lezione </h5></label>
                <ionic-time-picker etime="slots[0].epochTime" format="24" step="1">
                    <button class="button  button-energized button-full">
                        <strong etime="slots[0].epochTime" class="ng-binding"> {{(slots[0].epochTime * 1000) | date:'H:mm' | myDateTimePicker}}</strong>
                    </button>
                </ionic-time-picker>
            </div>
            <div class="col col-50">
                <label>  <h5 style="color: white;">Fine Lezione</h5></label>
                <ionic-time-picker etime="slots[1].epochTime" format="24" step="1">
                    <button class="button button-energized button-full">
                        <strong etime="slots[1].epochTime" class="ng-binding"> {{(slots[1].epochTime * 1000) | date:'H:mm' | myDateTimePicker}}</strong>
                    </button>
                </ionic-time-picker>
            </div>

        </div>


        <div class="row">
            <div class="col">
                <button class="button button-balanced button-full " ng-click="openModal()">
                    Seleziona giorni lezione
                </button>
            </div>
        </div>
-->
       <!-- <div class="row">

            <div class="col" style="margin-top: 20px"> <button class="button button-positive button-full" ng-click="openModal()">
                Invia
            </button></div>

        </div>-->


        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Seleziona giorni lezione</h1>
                </ion-header-bar>
                <ion-content>
                    <ul class="list list-inset">


                        <ion-checkbox ng-repeat="day in dayOfWeek"
                                      ng-model="day.checked"
                                      ng-checked="day.checked">
                            {{ day.text }}
                        </ion-checkbox>

                    </ul>

                    <div class="row">
                        <div class="col col-50">
                            <button class="button  button-block button-stable" ng-click="closeModal()">
                                Chiudi
                            </button>

                        </div>
                        <div class="col col-50">
                            <button class="button  button-block button-calm" ng-click="saveModal()">
                                Salva
                            </button>
                        </div>

                    </div>
                </ion-content>
            </ion-modal-view>
        </script>




    </ion-content>
</ion-view>


