<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
    <!-- The title of the ion-view will be shown on the navbar -->
    <ion-view animation="none" title="Find The Hole" nav-transition="none">
        <!--<ion-nav-buttons side="primary">
            <a class="button button-icon icon ion-navicon"></a>
        </ion-nav-buttons>-->

        <ion-content animation="none" nav-transition="none" ng-controller="FindHolesController" style="background-image: url(img/tor6.jpg)";>



            <div class="col" ng-show="isAndroidDevice" style="  margin-bottom: -40px; margin-top: -20px;">

                <div class="list card">

                    <div class="item item-avatar">
                        <img src="img/fdth_logo.png">
                        <h2>Download Play Store </h2>
                        <p>
                            <a href="https://play.google.com/store/apps/details?id=com.baraccasoftware.findthehole" class="subdued">Scarica</a>
                            <a href="" ng-click="closeDownload()" class="subdued"><i class="icon ion-close"></i></a>
                        </p>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col col-50">
                     <button animation="none" class="button-text button button-full icon-left ion-log-in button-positive button-block" ng-click="findHoles()">Aule Libere</button>
                </div>
                <div class="col col-50">
                    <button nav-transition="none" nav-direction="none" animation="none"nav-transition="none" class="button-text button button-full icon-left  ion-search button-balanced button-block" ui-sref="holes">Seleziona aula</button>
                </div>

            </div>

            <div class="row">
                <div class="col col-50">
                    <button animation="none" nav-transition="none" class="button-text main_button button button-full icon-left ion-arrow-up-c button-energized" ui-sref="segnalaAula">Segnala aula</button>
                </div>
                <div class="col col-50">
                    <button animation="none" class="button-text main_button button button-full icon-left ion-alert button-assertive" ng-click="getHolesFeedBack()">Aule segnalate</button>

                </div>
            </div>


            <!--LABEL SEGNALAZIONE AULE-->
            <div class="row" ng-show="signedeHoles">
                <div class="col">
                    <h4 style="color: white;">Ultime aule segnalate </h4>
                </div>
             </div>

            <!--AULE LIBERE LIST-->
            <div class="row" ng-show='signedeHoles && feedback.length > 0' >
                <div class="col">



                    <div class="list list-inset" >
                        <a class="item item-icon-left" href="#" ng-repeat="hole in feedback" >
                            <i class="icon ion-alert"></i>
                            Aula: {{hole.aula}}<br> Stato: {{hole.stato | feedbackFilter}} <br> Orario segnalazione: {{hole.orario | getHoursAndMinuteFromDate}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" ng-show='signedeHoles && feedback.length <= 0' >
                <div class="col">
                    <div class="list list-inset" >
                        <a class="item item-icon-left" href="#" >
                            <i class="icon ion-alert"></i>
                           Nessuna segnalazione
                        </a>
                    </div>
                </div>
            </div>


            <!--LABEL AULA SELEZIONATA-->
            <div class="row" ng-show="selectedHole">
                <div class="col">
                    <h4 style="text-align: center;color: white;"><i class="icon ion-flag"></i> Aula selezionata: {{selectedSpecificHole}}</a></h4>
                </div>
            </div>

                <!--AULE LIBERE LIST-->
            <div class="row" ng-show='!signedeHoles && holes.length > 0 && !selectedHole'>
                <div class="col">



                    <div class="list list-inset" >
                    <a class="item item-icon-left" href="#" ng-repeat="lezione in holes" ng-click="showInfoHole(lezione)">
                        <i class="icon ion-log-in"></i>
                        Aula libera: {{lezione.aula}}<br> Prossima lezione: {{lezione.prossima_lezione}}
                    </a>
                  </div>
                </div>
             </div>
            <!--AULE LIBERE DA SEGNALAZIONE AUALA LIST-->
            <div class=" row" ng-show='selectedHole && singleHolesResult.length > 0'>
                <div class="col">
                    <div class="list list-inset" >
                        <a class="item item-icon-left" href="#" ng-repeat="orari in singleHolesResult" ng-click="showInfoFromSpecificHole(orari)">
                            <i class="icon ion-log-in"></i>
                            {{orari.orario | filterSpecificHole}}
                            <span class="item-note">
                            </span>
                        </a>
                    </div>
                </divd
            </div>




</div>
        </ion-content>
    </ion-view>
