<!--<ion-nav-bar class="holes_bar">

</ion-nav-bar>-->

<ion-view animation="none" title="Segnala Aula"  ng-controller="SecondViewController">


    <ion-content style="background-image: url(img/tor6.jpg)">
        <div class="list list-inset">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" id="searchHolesBar" placeholder="Seleziona Aula" ng-model="data" ng-change="filterHolesName(data)">
                </label>
                <button
                        class="button button-clear icon ion-close-round"
                        ng-click="emptySearchHole()">
                </button>
            </div>

        </div>

        <div class="row" >
            <div class="col">
                <div class="list list-inset" >
                    <a class="item item-icon-left"  id="prova" ng-repeat="holes in filteredArray" ng-click="sendFreeHoles(holes.nome)">
                        <i class="icon ion-calendar"></i>
                        {{holes.nome}}
                    </a>
                </div>
            </div>
        </div>

        <!--<div class="list">

        </div>-->


    </ion-content>
</ion-view>


