/* Empty. Add your own CSS if you like */

@media (max-width: 480px) {
    .button-text {
        font-size: 15px;
    }
    .back-button{
        /*  top: 2px;
          right: 2px;
          bottom: 2px;*/
    }

}


@font-face {
    font-family: myFirstFont;
    src: url(../font/Roboto-Regular.ttf);
}

.bar.bar-positive {
    border-color: #145fd7;
    background-color: #4a87ee;
    background-image: linear-gradient(0deg, #009587, #009587 50%, transparent 50%) !important;
    color: #fff;
}

.item-input-wrapper{
    background: #ffffff!important;
}


#my_bar {
    background-color: rgb(0, 149, 135);
    border-color: rgb(0, 149, 135);
}
.item_hole {
    background-color: rgb(0, 149, 135);
}
.main_button{
    margin-top: -0.51em!important;
}
.button_find_holes{
    /* margin:10px;*/
}

.popup-buttons .button {
    background-color: #009587!important;
}
.button.button-positive{
    border-color: #009587!important;
}

.animate-enter {
    padding:10px;
    /*border:1px solid black;*/
    background:white;
}

.animate-enter.animate-enter-active {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.my-item {
    left: 0;
    right: 0;
}

.holes_bar{
    background-color: rgb(0, 149, 135);
    border-color: rgb(0, 149, 135);
}
.holes_bar h1{
    color:#ffffff!important;
}

#my_bar {
    background-color: rgb(0, 149, 135);
    border-color: rgb(0, 149, 135);
}



/*
background-image: url('img/tor.jpg');
filter: blur(5px);
-webkit-filter: blur(10px);*/
