<!-- The title of the ion-view will be shown on the navbar -->
<ion-view title="About" ng-controller="aboutController">
    <ion-content>

        <div class="row responsive-sm responsive-md responsive-lg">
            <div class="list card">

                <div class="item" style="text-align: center;">
                    <!--<img src="avatar.jpg">-->
                    <h2>Download from Play Store</h2>
                    <a class="balanced" href="https://play.google.com/store/apps/details?id=com.baraccasoftware.findthehole" target="_blank" style="text-align: center;">
                        https://play.google.com/store/apps/details?id=com.baraccasoftware.findthehole
                    </a>
                </div>

                <div class="item" style="text-align: center;">
                    <!--<img src="avatar.jpg">-->
                    <h2>Developed by BaraccaSoftware</h2>
                    <a class="balanced" href="http://www.baraccasoftware.com" target="_blank" style="text-align: center;">
                        www.baraccasoftware.com
                    </a>
                </div>

                <div class="item item-image">
                    <img src="img/bs_logo.jpg">
                </div>

                <div class="item" style="text-align: center;">
                    <button class="button button-clear button-balanced" ng-click="showLicensePopup()">
                        Under Apache 2.0 license
                    </button>
                </div>
                <div class="item" style="text-align: center;">
                    <h2>Special Thanks to:</h2>
                    <h3>Daniele Pasquini & Alessio Spaziani</h3>
                </div>

                <!--<a class="item assertive"  href ng-click="alert('pippo')" style="text-align: center;">
                    <i class="icon ion-alert"></i>


                </a>-->

            </div>
        </div>


    </ion-content>
</ion-view>